body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

ul, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.content-container {
  width: 1170px;
  margin: 0 auto;
}

.outer-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .outer-container {
    min-width: 320px;
  }
}

.inner-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .inner-container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .inner-container {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .inner-container {
    min-width: 320px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 24px 0;
}

.logo-link {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  animation: logo-header 3s linear infinite alternate;
}
.logo-link .header__logo-studio {
  color: #000;
  animation: logo-part 3s linear infinite alternate;
}

@keyframes logo-header {
  0% {
    color: #000;
  }
  50% {
    color: #2196F3;
  }
  100% {
    color: #000;
  }
}
@keyframes logo-part {
  0% {
    color: #2196F3;
  }
  50% {
    color: #000;
  }
  100% {
    color: #2196F3;
  }
}
.header-nav {
  width: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000;
  position: relative;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196F3;
}
.nav-list__link:hover::after, .nav-list__link:focus::after {
  width: 100%;
}
.nav-list__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 44px;
  width: 0;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  transition: width 250ms linear;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 333px;
}
.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
.contacts__link:hover .contacts__svg, .contacts__link:focus .contacts__svg {
  fill: #2196F3;
}
.contacts__svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  padding: 94px 0;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-btn:hover, .filters-btn:focus {
  background-color: #2196F3;
  color: #fff;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-list__item {
  width: 370px;
  border: 1px solid #eee;
  background-color: #fff;
  padding-bottom: 20px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-list__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.cards-list__item:hover .overlay {
  transform: translateY(0);
  transition: transform 1s ease;
}
.cards-list__thumb {
  width: 370px;
  height: 294px;
  margin-bottom: 20px;
  position: relative;
}
.cards-list__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cards-list__info {
  padding: 0 24px;
}
.cards-list__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.cards-list__text {
  color: getColo("blue-color");
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(-100%);
}
.overlay__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.footer .inner-container {
  display: flex;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer-contact {
  width: 231px;
  margin-right: 70px;
}
.footer-subscribe {
  padding-top: 12px;
  width: 570px;
}
.footer-socials {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-contact__logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  display: block;
}
.footer-contact__logo-studio {
  color: #fff;
}

.address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
}
.address__geolocation {
  color: #fff;
}
.address__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-join {
  padding-top: 12px;
  margin-right: 93px;
  width: 206px;
}
.footer-join__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team-socials-footer {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.team-socials-footer__item:hover {
  background-color: #2196F3;
}

.team-socials-footer__item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  width: 570px;
  padding-top: 12px;
}

.subscribe-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 12px;
}
.subscribe-form__label {
  width: 358px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.subscribe-form__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}
.subscribe-form__svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=portfolio.css.map */